@font-face {
  font-family: poppins;
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: open-sans;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

body{
  background-color: black;
  color: white;
}

h1{
  font-family: poppins;
  font-size: 2em;
}

h2{
  font-family: poppins;
}

hr {
  margin: 0;
  margin-right: 10%;
  margin-left: 10%;
}

span{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer{
  height: 3em;
}

.description{
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: open-sans;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img{
  background-image: url('../img/profile.jpg');
  width: 15em;
  height: 15em;
  border-style: solid;
  border-width: thick;
  border-color: white;
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social{
  width: 49%;
  display: inline-block;
  margin-top: 10px;
}

.about-me{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-family: open-sans;
}

.fab, .fas{
  font-size: 7em;
  color: gray;
  background-color: white;
  padding: 20px;
  border-radius: 50%;
}

.fa-twitter{
  color: #00aced;
}

.fa-instagram{
  color: #8a3ab9;
}

.fa-github, .fa-envelope{
  color: black;
}

.fa-linkedin-in{
  color: #0077B5;
}

.mail{
  width: 100%;
}

@media (min-width:750px) {
  .fab, .fas{
    font-size: 7em;
    color: gray;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
  }
  .social{
    width:19%;
    margin-top: 20px;
  }
  .fa-twitter:focus, .fa-twitter:hover{
    color: #00aced;
  }

  .fa-instagram:focus, .fa-instagram:hover{
    color: #8a3ab9;
  }

  .fa-github:focus, .fa-envelope:focus, .fa-github:hover, .fa-envelope:hover{
    color: black;
  }

  .fa-linkedin-in:focus, .fa-linkedin-in:hover{
    color: #0077B5;
  }

  .mail{
    width: 19%;
  }
}
